<div class="p-5 bg-light">
  <div class="NgxEditor__Wrapper">
    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
    <ngx-editor
      [editor]="editor"
      [(ngModel)]="html"
      [editable]="true"
      placeholder="Type here..."
    ></ngx-editor>
  </div>
  <button (click)="getEditorContent()" class="btn btn-primary m-3">
    Get Editor Content
  </button>
  <div class="border p-4">Output In HTML : {{ html }}</div>
</div>
<!--  -->
<div class="p-5">
  <div class="h5 mb-3">HTML INPUT</div>
  <div class="NgxEditor__Wrapper">
    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
    <ngx-editor
      [editor]="inputEditor"
      [(ngModel)]="inputHtml"
      [editable]="true"
      placeholder="Type here..."
    ></ngx-editor>
  </div>
</div>
<!-- <router-outlet /> -->
